/* styles.css */

body {
    background-color: red; /* Change background color to red */
    margin: 0;
}

body, html {
    height: 100%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
